<div class="container-fluid" id="container">
  <div class="row"  style="margin-top: 5px; margin-bottom: 5px;">
    <div class="col-md-6">
      <mdm-view (viewSelected)="selectedView = $event"></mdm-view>
    </div>
    <div class="col-md-6" style="text-align: right;">
      <button type="submit" class="btn btn-default" (click)="showSaveModal()" title="Save shopping basket" ><span class="glyphicon glyphicon-floppy-disk"></span></button>
      <button type="submit" class="btn btn-default" (click)="showLoadModal()" title="Load shopping basket" ><span class="glyphicon glyphicon-folder-open"></span></button>
      <button type="submit" class="btn btn-default" (click)="clearBasket()" title="Clear shopping basket" ><span class="glyphicon glyphicon-erase"></span></button>
      <a class="basketContent.rows.length <= 0 ? 'disabled' : ''" (keydown.enter)="!isDisabled(link)"
         [download]="selectedBasket?.name != undefined ? selectedBasket.name + '.json' : 'basket.json'"
         [href]="downloadBasket()" style="text-decoration:none;">
        <button type="submit" class="btn btn-default" title="Download shopping basket" [disabled]="basketContent.rows.length <= 0">
          <span class="glyphicon glyphicon-download"></span>
        </button>
      </a>
      <div class="fileUpload btn btn-default" title="Upload" >
        <span class="glyphicon glyphicon-upload"></span>
        <input title="Upload shopping basket" class="upload" name="datei" type="file" accept=".json, application/json" id="fileInput" (change)="onUploadChange($event)">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <mdm-tableview [results]="basketContent" [view]="selectedView" isRemovable="true" ></mdm-tableview>
    </div>
  </div>
</div>

<div bsModal #lgLoadModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="SelectSearchComponents" aria-hidden="true" (keyup.enter)="loadBasket()">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="childLoadModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Warenkorb laden</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <ul class="list-group" style="max-height:50vh; padding: 0; list-style-type: none; overflow-y:auto;">
              <div style="display: table; width: 100%; border: 1px solid #ddd;">
                <li class="list-group-item" *ngFor="let basket of baskets" [ngClass]="{'active': selectedBasket == basket}"
                    (click)="toggleSelect(basket)" (dblclick)="loadBasket(basket)" style="cursor: pointer">
                    {{basket.name}}<span class="badge">{{basket.items.length}}</span>
                </li>
              </div>
            </ul>
          </div>
          <div class="row" style="margin-top: 20px;">
            <button type="button" class="btn btn-default pull-right" (click)="loadBasket()" [disabled]="baskets.length <= 0 || selectedBasket == undefined" >
              <span class="glyphicon glyphicon-open"></span> Laden
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #lgSaveModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="SelectSearchComponents" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="childSaveModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Warenkorb speichern als:</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <form class="form-inline">
            <div class="row">
              <input type="text" class="form-control" placeholder="Warenkorb-Name" [value]="basketName" (input) = "basketName = $event.target.value" (keyup.enter)="saveBasket()" required>
            </div>
            <div class="row" style="margin-top: 10px;">
              <div class="col-md-12">
                <button type="button" class="btn btn-default pull-right" (click)="saveBasket()" [disabled]="!basketName" title="{{basketName? '' : 'Name nicht gesetzt!'}}">
                  <span class="glyphicon glyphicon-floppy-disk"></span> Speichern
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
