.table > tbody > tr.active > td {
	background-color: #66afe9; /*#337ab7;*/
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

>>> thead >>> .ui-state-active {
	background-color: #e7e7e7 !important;
	border-color: #c7c7c7 !important;
	color: inherit !important;
}
