.icon {
	background-repeat: no-repeat;
    background-position: left center;
	padding-left: 18px;
}
.environment {
	background-image: url("../../assets/img/environment.png");
}
.project {
	background-image: url("../../assets/img/project.png");
}
.pool {
	background-image: url("../../assets/img/structurelevel.png");
}
.test {
	background-image: url("../../assets/img/test.png");
}
.teststep {
	background-image: url("../../assets/img/teststep.png");
}
.measurement {
	background-image: url("../../assets/img/mearesult.png");
}
.channelgroup {
	background-image: url("../../assets/img/meaquantity.png");
}
.channel {
	background-image: url("../../assets/img/meaquantity.png");
}

.table > tbody > tr.active > td {
	background-color: #66afe9; /*#337ab7;*/
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
