<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-mdm-navbar">
      <ul class="nav navbar-nav">
        <li *ngFor="let m of links" [routerLinkActive]="['active']"><a routerLink="{{m.path}}" style="cursor:pointer;"> {{m.name}}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="mdm/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div>
  <router-outlet></router-outlet>
</div>

<mdm-notifications></mdm-notifications>
