<td style="vertical-align: middle">{{condition.type}}</td>
<td style="vertical-align: middle">{{condition.attribute}}</td>
<td>
  <div class="btn-group" dropdown>
    <button id="operator" type="button" class="btn btn-default btn-sm dropdown-toggle" dropdownToggle [disabled]="disabled" aria-haspopup="true" aria-expanded="false">
      {{getOperatorName(condition.operator)}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" dropdownMenu>
      <li *ngFor="let op of getOperators()">
        <a class="dropdown-item" (click)="setOperator(op)">{{getOperatorName(op)}}</a>
      </li>
    </ul>
  </div>
</td>
<td [ngSwitch]="condition.valueType">
  <rl-tag-input *ngSwitchCase="'string'"
    [addOnBlur]="false"
    [addOnSpace]="false"
    [addOnPaste]="false"
    [addOnComma]="false"
    [autocomplete]="true"
    [autocompleteMustMatch]="false"
    [autocompleteItems]="values"
    [(ngModel)]="condition.value"
    placeholder="Add search value">
  </rl-tag-input>

  <div search-datepicker *ngSwitchCase="'date'" (onSetValue)="setValue($event)" style="width: 100%"></div>

  <input *ngSwitchDefault type="text" class="form-control input-sm" placeholder="Wert" [value]="condition.value" (input)="setValue($event.target.value)">
</td>
<td><button id="remove" type="button" class="btn btn-default btn-sm glyphicon glyphicon-remove remove" (click)="remove()"></button></td>
