/* You can add global styles to this file, and also import other style files */

.icon {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 18px;
  height: 1em;
  margin: 0;
}
.environment {
  background-image: url("assets/img/environment.png");
}
.project {
  background-image: url("assets/img/project.png");
}
.pool {
  background-image: url("assets/img/structurelevel.png");
}
.test {
  background-image: url("assets/img/test.png");
}
.teststep {
  background-image: url("assets/img/teststep.png");
}
.measurement {
  background-image: url("assets/img/mearesult.png");
}
.channelgroup {
  background-image: url("assets/img/submatrix.png");
}
.channel {
  background-image: url("assets/img/meaquantity.png");
}

.ui-datatable .ui-datatable-data > tr > td {
	padding: .25em .5em !important;
}

.ui-datatable .ui-datatable-thead > tr > th {
  padding: .50em .5em !important;
}
