.navigator {
  /*display: inline-block !important;
  position: absolute !important;*/
  position: relative;
  margin: 0 1em;
  /*bottom: 6em;
  top: 5em;*/
}
.navigator-content {
  margin-left: 8px;
  min-height: 100%;
  max-height: calc(100vh - 85px);
  overflow: auto;
}

.navigator .navbar-right {
  position: absolute;
  right: 15px;
  z-index: 1;
}

.navigator .navbar-header {
  position: relative;
  background-color: #f8f8f8;
  z-index: 2;
}

.navbar {
  margin-bottom: 18px;
}

.panel-body {
  padding: 0px;
}
.list-group {
  margin-bottom: 0px;
}
.list-group-item {
  white-space: nowrap;
}
.list-group-item:first-child {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-style: none;
}

vertical-split-separator {
  height: calc(100vh - 85px);
}
